{% load static %} {% block content %} 

<div class="row" style="margin-top: 1rem;">
    <div class="col-sm">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <p
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Companies
              </p>
              <div
                class="h5 mb-0 font-weight-bold text-gray-800"
                id="companies"
              >
                __
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <p
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Factories
              </p>
              <div
                class="h5 mb-0 font-weight-bold text-gray-800"
                id="factories"
              >
                __
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <p
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Total Expositions
              </p>
              <div
                class="h5 mb-0 font-weight-bold text-gray-800"
                id="expositions"
              >
                __
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <p
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Certificates
                </p>
                <div
                  class="h5 mb-0 font-weight-bold text-gray-800"
                  id="certificates"
                >
                  __
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div>

{% endblock %}